services:
  grafana:
    image: {{ grafana_image }}
    container_name: grafana
    restart: unless-stopped
    environment:
      GF_SERVER_ROOT_URL: https://grafana.wro1.int.50thfloor.xyz
    ports:
      - "{{ grafana_port }}:{{ grafana_port }}"
    volumes:
      - storage:{{ grafana_storage_dir }}
      - config:{{ grafana_config_dir }}
volumes:
  storage: {}
  config: {}
