services:
  grafana:
    image: grafana/grafana-enterprise:11.1.0-boringcrypto
    container_name: grafana
    restart: unless-stopped
    ports:
      - "{{ grafana_port }}:{{ grafana_port }}"
    volumes:
      - storage:{{ grafana_storage_dir }}
      - config:{{ grafana_config_dir }}
volumes:
  storage: {}
  config: {}
